body {
  background-color: #dbe2ef;
  text-align: center;
  font-family: 'Bangers', cursive;
}

.game-name {
  padding: 1% 0 1%;
  color: #3f72af;
  font-size: 5em;
}

.heading {
  font-size: 4em;
}

.button-container {
  padding-top: 5%;
}

.row {
  padding: 2% 30%;
}

button {
  width: 200px;
  height: 200px;
}

button:focus {
  outline: 0;
}

.green {
  background-color: green;
  border-top-left-radius: 100px;
}

.red {
  background-color: red;
  border-top-right-radius: 100px;
}

.yellow {
  background-color: yellow;
    border-bottom-left-radius: 100px;
}

.blue {
  background-color: blue;
      border-bottom-right-radius: 100px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: white;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
